@model DekkersAuto.Web.Models.Inventory.DetailViewModel
@using DekkersAuto.Web.Models.Home

<div class="card">
    <h5 class="card-header">@Model.Title</h5>
    <div class="card-body">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                @for (var i = 0; i < Model.Images.Count; i++)
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="i" @(i == 0 ? "class='active'" : "")></li>
                }
            </ol>
            <div class="carousel-inner">
                @for (var i = 0; i < Model.Images.Count; i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <img class="d-block w-100" src="@Model.Images[i]">
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<br />
<div class="card">
    <h5 class="card-header">Details</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <textarea rows="4" class="form-control" readonly>@Model.Description</textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-inline">
                    <label asp-for="Price" class="control-label col-3"></label>
                    <p class="col-9">@(Model.Price != null ? Model.Price.ToString() : "n/a")</p>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Make" class="control-label col-3"></label>
                    <p class="col-9">@(Model.Make != null ? Model.Make : "n/a")</p>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Model" class="control-label col-3"></label>
                    <p class="col-9">@(Model.Model != null ? Model.Model : "n/a")</p>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Year" class="control-label col-3"></label>
                    <p class="col-9">@(Model.Year != null ? Model.Year.ToString() : "n/a")</p>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Kilometers" class="control-label col-3"></label>
                    <p class="col-9">@(Model.Kilometers != null ? Model.Kilometers.ToString() : "n/a")</p>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="BodyType" class="control-label col-3"></label>
                    <p class="col-9">@(Model.BodyType != null ? Model.BodyType : "n/a")</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-inline">
                    <label asp-for="Transmission" class="control-label col-3"></label>
                    <p class="col-9">@(Model.Transmission != null ? Model.Transmission : "n/a")</p>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="DriveTrain" class="control-label col-3"></label>
                    <p class="col-9">@(Model.DriveTrain != null ? Model.DriveTrain : "n/a")</p>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Colour" class="control-label col-3"></label>
                    <p class="col-9">@(Model.Colour != null ? Model.Colour : "n/a")</p>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="FuelType" class="control-label col-3"></label>
                    <p class="col-9">@(Model.FuelType != null ? Model.FuelType : "n/a")</p>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Doors" class="control-label col-3"></label>
                    <p class="col-9">@(Model.Doors != null ? Model.Doors.ToString() : "n/a")</p>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Seats" class="control-label col-3"></label>
                    <p class="col-9">@(Model.Seats != null ? Model.Seats.ToString() : "n/a")</p>
                </div>
            </div>

        </div>
    </div>
</div>
<br />
@if (Model.Options != null && Model.Options.Count > 0)
{

    <div class="card">
        <h5 class="card-header">Options</h5>
        <div class="card-body">
            @foreach (var option in Model.Options)
            {
                <span class="btn btn-info">@option</span>
            }
        </div>
    </div>

}
<br />
<partial name="_ContactForm" model='new ContactViewModel { Subject = Model.Title }' />

@* Taken from https://developers.facebook.com/docs/plugins/like-button/ *@
<div class="fb-like"
     data-href="@Url.Action("Details","Inventory", new { listingId = Model.ListingId }, Context.Request.Scheme)"
     data-layout="standard"
     data-show-faces="true"
     data-share="true">
</div>
