@model DekkersAuto.Web.Models.Inventory.InventoryListItemViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


<div id="@Model.ListingId">
    <div class="card">
        <div class="card-body">
            <a asp-action="Details" asp-controller="Inventory" asp-all-route-data='new Dictionary<string, string> { ["listingId"] = Model.ListingId.ToString() }' style="text-decoration:none; color:black;">
                <div class="row">
                    <div class="col-4">
                        <img src="@Model.ImageUrl" class="img-fluid img-thumbnail" />
                    </div>
                    <div class="col-7">
                        <h4>@Model.Title</h4>
                        <p class="col-12 text-truncate">@Model.Description</p>
                        <p class="col-12">@Model.Kilometers km</p>
                    </div>
                    <div class="col-1">
                        <h2>$@Model.Price</h2>
                    </div>
                </div>
            </a>

            @if (SignInManager.IsSignedIn(User))
            {
                <div class="row">
                    <div class="col-12">
                        <a asp-action="CreateListing" asp-controller="Inventory" asp-all-route-data='new Dictionary<string, string> { ["listingId"] = Model.ListingId.ToString() }' class="btn btn-primary">
                            Edit
                        </a>
                        <a asp-action="Delete"
                           asp-controller="Inventory"
                           asp-all-route-data='new Dictionary<string, string> { ["listingId"] = Model.ListingId.ToString() }'
                           class="btn btn-danger"
                           data-ajax="true"
                           data-ajax-mode="replace"
                           data-ajax-update="#@Model.ListingId">
                            Delete
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

</div>